@import "styles/vars"

div.c-language-item
	padding-left: 35px
	position: relative
	margin: 15em 0
	+transition(background)
	&:hover
		background: rgba($colorMain, .06)
		i.fa-globe
			display: none
	&:not(:hover)
		i.fa-trash-alt
			display: none
		
	> i
		+pos(absolute, 0, 0)
		color: rgba($colorMain, .54)
		font-size: 17em
		width: 25px
		height: 1.2em
		display: flex
		align-items: center
		justify-content: center
		+transition(color)
		cursor: pointer
		&:hover
			color: $colorMain

	h3
		font-size: 17em
		margin-bottom: 5px

	.li-proficiency
		position: relative
		height: 20px
		font-size: 14em
		span.isi-content
			color: rgba(black, .54)
			+transition(color)
		i
			margin-left: 5px
			color: $colorMain
		&:before
			content: ""
			+pos(absolute, 0, -5px, -5px, 0)
			background: rgba($colorMain, .12)
			+transition(opacity)
			opacity: 0
			border-radius: 3px

		&:hover, &.shown
			span.isi-content
				color: black
			&:before
				opacity: 1

@container section (min-width: 100mm)
	div.c-language-item
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: 8px
		h3
			margin-bottom: 0
		&:after
			content: ""
			+pos(absolute, auto, 35px, 0, 0)
			border-bottom: 1px dotted rgba(black, .18)