@import "styles/vars"

div.c-language-item
	padding-left: 30px
	position: relative
	margin: 10px 0
	+transition(background)
	&:hover
		background: rgba($colorMain, .06)
	> i
		+pos(absolute, 0, 0)
		color: rgba($colorMain, .54)
		width: 20px
		height: 20px
		display: flex
		align-items: center
		justify-content: center
		+transition(color)
		cursor: pointer
		&:hover
			color: $colorMain

	h3
		font-size: 1.2em
		margin-bottom: 5px

	.li-proficiency
		position: relative
		height: 20px
		span.isi-content
			color: rgba(black, .54)
			+transition(color)
		i
			margin-left: 5px
			color: $colorMain
		&:before
			content: ""
			+pos(absolute, 0, -5px, -5px, 0)
			background: rgba($colorMain, .12)
			+transition(opacity)
			opacity: 0
			border-radius: 3px

		&:hover, &.shown
			span.isi-content
				color: black
			&:before
				opacity: 1